/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

@import './variables';
@import './mixins';

body {
  overflow-x: hidden;
}

#footer {
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 14px;
  height: 50px;
  padding: 20px 0 10px;
  width: 100vw;
}

a {
  color: $x-link-color;
}

.no-select {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

textarea:focus, input:focus {
  outline: none;
}

*:focus {
  outline: none !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.x-box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.x-icon-link {
  opacity: 0.5;
  cursor: pointer;
}

.x-icon-link:hover {
  opacity: 1;
  color: $x-link-color-hover;
}

.x-section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: $x-link-color;
  background: linear-gradient(0deg, $x-link-color 0%, $x-link-color-2 100%);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-link {
  cursor: pointer;
}

