<h4 style="margin-bottom: 10px;">Help</h4>
This application renders a shadow for specified date, time and location.<br/><br/>

Choose <img src="assets/mode_rectangle.png"/> or <img src="assets/mode_polygon.png"/> to select drawing mode, than click on the map to draw a custom shape.<br/>
You can specify height for each point.<br/>
Press <code>b</code> and <code>n</code> to modify time by 10 minutes. <br/>
Press <code>c</code> and <code>v</code> to modify date by one day.<br/>
Press <code>ctrl</code> and <code>&#8592; &#8593; &#8594; &#8595;</code> to move shape by 0.1 meter. You can also move shape by dragging it.<br/>
Press <code>ctrl</code> + <code>shift</code> and <code>&#8592; &#8594; </code> to rotate shape by 1 degree.


<div style="margin-top: 10px; display: flex; justify-content: flex-end">

  <button mat-raised-button (click)="onClose()">Close</button>
</div>

