<div>
  <button mat-mini-fab (click)="rotateLeft()">
    <mat-icon aria-label="Rotate left">rotate_left</mat-icon>
  </button>
  <button mat-mini-fab (click)="rotateRight()">
    <mat-icon aria-label="Rotate right">rotate_right</mat-icon>
  </button>
  <button mat-mini-fab (click)="moveLeft()">
    <mat-icon aria-label="Left">arrow_back</mat-icon>
  </button>
  <button mat-mini-fab (click)="moveRight()">
    <mat-icon aria-label="Right">arrow_forward</mat-icon>
  </button>
  <button mat-mini-fab (click)="moveUp()">
    <mat-icon aria-label="Up">arrow_upward</mat-icon>
  </button>
  <button mat-mini-fab (click)="moveDown()">
    <mat-icon aria-label="Down">arrow_downward</mat-icon>
  </button>
</div>
