.x-icon-block {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.x-icon {
  width: 64px;
}
.x-mini-row {
  display: flex; flex-flow: row; align-items: center; justify-content: flex-start;
  font-size:12px;
}
.x-mini-row mat-icon {
  font-size: 20px;
}
.x-margin {
  margin-left:15px;
  margin-right:15px;
}
.x-minitime {
  width: 45px;
  text-align:left;
  font-weight: bold;
}
.x-altitude {
  font-size:12px;
}
