<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" >Shadowow
    <div style="font-size: 10px; max-width: 200px;margin-top: -5px;">shadows on google maps</div>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link"
           (click)="openImportExportDialog()"
           href="#">Import/Export</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           (click)="openHelpDialog()"
           href="#">Help</a>
      </li>

     <!-- <li class="nav-item">
        <a class="nav-link">
          <mat-icon (click)="openImportExportDialog()"
                    matTooltip="Date/time information"
                    aria-label="Date/time information">speaker_notes
          </mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mat-icon (click)="openImportExportDialog()"
                    matTooltip="Import/export"
                    aria-label="Import/export">import_export
          </mat-icon>
        </a>
      </li>-->
    </ul>
  </div>
</nav>


<div class='row text-center x-content nopadding'>
  <div class="col-lg-8 col-md-8 col-sm-12 x-gmap-wrapper" [class.x-gmap-wrapper-night]="isNight"
       [class.x-gmap-wrapper-dusk-or-down]="isDuskOrDawn">
    <div [class.x-gmap-night]="isNight" [class.x-gmap-dusk-or-down]="isDuskOrDawn" #gmap
         style="min-height:50vh; height: 100%;"></div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 x-details">



    <div class="row no-select">
      <div class="col-xs-12" style="width: 100%; margin-bottom: 10px;">
        <app-shape-details [shadowShape]="shadowShapesSet.currentShape"
                           [marker]="shadowShapesSet.currentMarker"
                           [markerIndex]="shadowShapesSet.currentMarkerIndex"
                           [currentHeight]="shadowShapesSet.currentHeight"
                           [currentShadow]="shadowShapesSet.currentShadowLength"
        ></app-shape-details>
      </div>
    </div>


<!--    <div class="row no-select">
      <div class="col-xs-12" style="width: 100%; align-items: center;">
        <span class="x-section-divider"></span>
      </div>
    </div>-->


    <div class="row no-select" style="display: flex; justify-content: space-evenly; margin: 5px 0 5px 0">
      <app-day-info></app-day-info>

    </div>



    <div class="row no-select" style="margin-top:30px;">
      <div class="col-xs-12" style="width: 100%;">
        <app-solar-info style="display: flex; justify-content: center;" ></app-solar-info>
      </div>
    </div>
  </div>
  <app-time-details></app-time-details>

</div>


<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright">
          © Copyright <strong><a href="http://kameocode.com">KameoCode</a></strong>. All Rights Reserved
        </div>
        <div class="credits">

        </div>
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a href="http://kameocode.com#projects">Projects</a>
          <a href="http://kameocode.com#contact" class="scrollto">Contact</a>
        </nav>
      </div>
    </div>
  </div>
</footer>






