:host {
  display: flex;
  flex-flow: column;
}

.x-gmap-wrapper-night, .x-gmap-wrapper-dusk-or-down {
  background-color: black;
 }

.x-gmap-night {
  opacity: 0.5;
}

.x-gmap-dusk-or-down {
  opacity: 0.9;
}

.x-gmap-wrapper {
  padding-right: 0;
  padding-left: 0;
}


.x-content {
  min-height: calc(100vh - 68px);

}

.x-details {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s;
}
.x-main {
  background: linear-gradient(-45deg, #ddf9ee, rgba(215, 255, 255, 0.15));
}

a > mat-icon {
  cursor: pointer;
}


