:host {
  display: flex;
  flex-flow: column;
}

.x-gmap-wrapper-night, .x-gmap-wrapper-dusk-or-down {
  background-color: black;
 }

.x-gmap-night {
  opacity: 0.5;
}

.x-gmap-dusk-or-down {
  opacity: 0.9;
}

.x-gmap-wrapper {
  padding-right: 0;
  padding-left: 0;
}

.x-content {
  min-height: calc(100vh - 68px);

}

.x-details {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.5s;
}
.x-main {
  background: linear-gradient(-45deg, #ddf9ee, rgba(215, 255, 255, 0.15));
  overflow-x: hidden;
  width: calc(100vw);
}

a > mat-icon {
  cursor: pointer;
}
/*
.x-shape-control-hide {
  width:0;
  max-width: 0;

  border: 1px solid #ca02cd;
}
.x-shape-control-visible {
  width: 100%;
  max-width: unset;
opacity: 1 !important;
  transition: all 4s ease !important;
  border: 1px solid #1dc8cd;

  height: 30px;
}
*/


