
/* force shadow border to shrink */
@media only screen and (max-width: 1710px) and (min-width: 1170px) {
  .x-box-shadow {
    max-width: 360px;
  }
}

canvas {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.x-buttons-row {
  bottom: 5px;
  right: 5px;
  position: absolute;
}
