.x-box-shadow {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* force shadow border to shrink */
@media only screen and (max-width: 1710px) and (min-width: 1170px) {
  .x-box-shadow {
    max-width: 360px;
  }
}

canvas {
  cursor: pointer;
  width: 100%;
  height: auto;
  touch-action: none;
}

.x-buttons-row {
  bottom: 5px;
  right: 5px;
  position: absolute;
}

.x-canvas-wrapper {
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

