:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding:0px;
  margin:0px;
  /*border: 1px solid red;*/

}


canvas {
  cursor: pointer;
  width: 100%;
  height: auto;
}
