<p>
  <mat-slider thumbLabel  (change)="onChanged($event)" [(ngModel)]="value" min="1" [max]="maxValue"  step="1" tickInterval="4" ></mat-slider> {{ hour }}h {{minutes }}min

  <button md-button (click)="decrement()">-</button>
  <button md-button (click)="increment()">+</button>
</p>


  <input matInput [matDatepicker]="picker" (change)="onDateChange($event)" [(ngModel)]="date" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

