

.x-pinBackground {
  display: inline-block;
  width: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../../assets/pin.svg');
  background-size: 20px auto;
  height: 38px;
  line-height: 38px;

}
.x-pinLabel {
  height: 12px;
  font-size: 12px;
  vertical-align: top;
  line-height: 12px;
  display: inline-block;
  margin-top: 7px;
}

.x-heightsPanel {
  display: flex;
  max-height: 40vh;
  flex-flow: column;
  flex-wrap: wrap;
}
