.x-pinBackground {
  display: inline-block;
  width: 30px;
  background: url('../../../assets/pin-gradient.svg') no-repeat center center;
  background-size: 20px auto;
  height: 38px;
  line-height: 38px;

}
.x-pinLabel {
  height: 12px;
  font-size: 12px;
  vertical-align: top;
  line-height: 12px;
  display: inline-block;
  margin-top: 7px;
}

.x-shadow-info {
  text-shadow: 2px 2px 5px #8e8e8e;
}

.x-clickable {
  cursor: pointer;
}
