
.x-time-1 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5px;
}

.x-icon-block {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

.x-icon {
  width: 64px;
}
.x-icon-large {
  width: 84px;
  margin-top:-20px;
}

.x-altitude {
  font-size:12px;
}
