<!--
<div class="x-time-1">
  <div class="x-icon-block">
    <img class="x-icon" src="assets/sunrise.svg"/>
    {{sunrise}}
    <div>&nbsp;</div>
    <div>&nbsp;</div>
  </div>
  <div class="x-icon-block">
    <img class="x-icon-large" src="assets/noon.svg"/>
    {{noon}}
    <div class="x-altitude">altitude: {{noonAltitudeDegrees}}&deg;</div>
    <div class="x-altitude">azimuth: {{noonAzimuthDegrees}}&deg;</div>
  </div>
  <div class="x-icon-block">
    <img class="x-icon" src="assets/sunset.svg"/>
    {{sunset}}
    <div>&nbsp;</div>
    <div>&nbsp;</div>
  </div>
  <div class="x-icon-block">
    <img class="x-icon" src="assets/noon_duration.svg"/>
    {{hours}}h {{minutes}}&deg;
    <div>&nbsp;</div>
    <div>&nbsp;</div>
  </div>
</div>
-->

<button matTooltip="Toggle details" mat-icon-button (click)="toggleDetailed()">
  <mat-icon class="x-icon-link" aria-label="-10 min">more_vert</mat-icon>
</button>
<div class="row x-time-1">




  <app-solar-info-column class="col-md-4 col-xs-6"
                         [date]="today"
                         type="TODAY"
                         [pos]="pos"
                         [detailed]="detailed"
                         [selectedDate]="selectedDate"
                         (change)="selectDate($event)"
                         (changeWithTime)="selectDateWithTime($event)"
  ></app-solar-info-column>

  <app-solar-info-column class="col-md-4 col-xs-6"
                         [date]="midsummer"
                         [selectedDate]="selectedDate"
                         type="MIDSUMMER"
                         [pos]="pos"
                         [detailed]="detailed"
                         (change)="selectDate($event)"
                         (changeWithTime)="selectDateWithTime($event)"
  ></app-solar-info-column>

  <app-solar-info-column class="col-md-4 col-xs-6"
                         [date]="midwinter"
                         [selectedDate]="selectedDate"
                         type="MIDWINTER"
                         [pos]="pos"
                         [detailed]="detailed"
                         (change)="selectDate($event)"
                         (changeWithTime)="selectDateWithTime($event)"
  ></app-solar-info-column>




</div>
