/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/




#footer {
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  color: #333;
  font-size: 14px;
}
a {
  color: #1dc8cd;
}

.no-select
{
  user-select: none;
  -o-user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
textarea:focus, input:focus{
  outline: none;
}
*:focus {
  outline: none !important;

}
