/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

body {
  overflow-x: hidden;
}
#wrap {
  min-height: 100%;
  overflow-y: hidden;
}
#main {
  overflow:auto;
  padding-bottom:51px; /* this needs to be bigger than footer height*/
}
#footer {
  background: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 14px;

  /*
  position: relative;
  margin-top: -50px; !* negative value of footer height *!
  clear:both;
  */

  height: 50px;
  padding: 20px 0 10px;
}



a {
  color: #1dc8cd;
}

.no-select {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

textarea:focus, input:focus {
  outline: none;
}

*:focus {
  outline: none !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.x-box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.x-icon-link {
  opacity: 0.5;
  cursor: pointer;
}

.x-icon-link:hover {
  opacity: 1;
  color: red;
}

.x-section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: #1dc8cd;
  background: linear-gradient(0deg, #1dc8cd 0%, #55fabe 100%);
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
