@import '~sass/variables';

.x-copy-icon {
  cursor: pointer;
  color: $x-link-color;
}
.x-can-export {
  margin-right: 22px;
}

textarea {
  font-size: 10px;
  width: 100%;
  min-width: 200px;
  min-height: 200px;
}
