<h2>Shape settings</h2>
<div>
  <form>
    <div class="form-group" *ngFor="let height of shadowShape.heights; trackBy:trackByIdx; let i = index">
      <div class="row">
        <label style="margin: 0px 10px;">Distance between: {{i+1}} - {{i+2}}</label>
        <input style="width: 60px" [(ngModel)]="shadowShape.heights[i]" (ngModelChange)="onDistanceChange($event)" type=number min=1 max=50 value="10">

        <label style="margin: 0px 10px;">Angle: </label>
        <input style="width: 40px" [(ngModel)]="shadowShape.heights[i]" (ngModelChange)="onAngleChange($event)" type=number min=1 max=179 value="90">
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-lg-12">
    <button  class="btn btn-secondary float-left" mat-raised-button (click)="onSaveData()">Save</button>
    <button  class="btn btn-secondary float-right" mat-raised-button (click)="onNoClick()">Close</button>
  </div>
</div>
