<div class="no-select">

  <div style="display: flex; flex-flow: row; justify-content: center; align-items: center">
    <app-day-info [date]="date"></app-day-info>

    <div>
    <div>
      <input matInput [matDatepicker]="picker" (ngModelChange)="onDayChanged($event)" [(ngModel)]="date"
             style="width:100px"
             placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <div>
      <button mat-icon-button (click)="decrement()">
        <mat-icon class="x-icon-link" aria-label="-10 min">navigate_before</mat-icon>
      </button>
      <button mat-icon-button (click)="increment()">
        <mat-icon class="x-icon-link" aria-label="+10 min">navigate_next</mat-icon>
      </button>
    </div>
  </div>
  </div>
<!--  <mat-slider style="width: 300px;" thumbLabel (change)="onChanged($event)" [(ngModel)]="value" min="1"
              [max]="maxValue"
              step="1"
              tickInterval="4"></mat-slider>
  <span style="display: inline-block; min-width: 100px;">{{ hour }}h {{minutes }}min</span>-->

</div>

